@model AttendanceRRHH.Models.Device
@using Resources;


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">@Resources.CreateNew</h4>
</div>

@using (Html.BeginForm())
{
    <div class="modal-body">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SyncDate)

        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label">@Resources.Name</label>
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Name } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label">@Resources.Location</label>
                @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Location } })
                @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label">@Resources.IP</label>
                @Html.EditorFor(model => model.IP, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.IP } })
                @Html.ValidationMessageFor(model => model.IP, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-6">
                <label class="form-label">@Resources.Port</label>
                @Html.EditorFor(model => model.Port, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.Port } })
                @Html.ValidationMessageFor(model => model.Port, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label">@Resources.SyncCronExpression</label>
                @Html.EditorFor(model => model.SyncTimeCronExpression, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.SyncCronExpression } })
                @Html.ValidationMessageFor(model => model.SyncTimeCronExpression, "", new { @class = "text-danger" })
            </div>
            @*<div class="col-md-6">
                <label class="form-label">@Resources.TransferCronExpression</label>
                @Html.EditorFor(model => model.TransferCronExpression, new { htmlAttributes = new { @class = "form-control", @placeholder = Resources.SyncCronExpression } })
                @Html.ValidationMessageFor(model => model.TransferCronExpression, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label">@Resources.Type</label>
                @Html.DropDownList("DeviceTypeId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IP, "", new { @class = "text-danger" })
            </div>    
            <div class="col-md-6">
                <label class="form-label">@Resources.IsActive</label>
                @Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @class = "form-control" })
            </div>  
        </div>

        <div class="row form-row">
            <div class="col-md-6">
                <label class="form-label">@Resources.IsSSR</label>
                @Html.CheckBoxFor(model => model.IsActive, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                <label class="form-label">@Resources.OpenDoors</label>
                @Html.CheckBoxFor(model => model.OpenDoors, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>    
    </div>

    <div class="modal-footer">
        <button class="btn" type="button" data-dismiss="modal">@Resources.Cancel</button>
        <input class="btn btn-primary" type="submit" value="@Resources.Save" />
    </div>
}