@model IEnumerable<AttendanceRRHH.Models.Device>
@using AttendanceRRHH.Helpers
@using Resources

@section Styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/r-2.1.0/datatables.min.css" />
}

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <div class="row">
                    <div class="col-md-3">
                        <h4>@Resources.Devices</h4>
                    </div>
                    <div class="col-md-9">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-cons" onclick="location.href='@Url.Action("PingAllDevices", "Devices")'"><i class="fa fa-check"></i>&nbsp;@Resources.PingTestAll</button>                           
                            <button type="button" class="btn btn-warning btn-cons" onclick="location.href='@Url.Action("ReadRecordsAllDevices", "Devices")'"><i class="fa fa-exchange"></i>&nbsp;@Resources.TransferAll</button>   
                            <button type="button" class="btn btn-success btn-cons" onclick="location.href='@Url.Action("SyncTimeAllDevices", "Devices")'"><i class="fa fa-clock-o"></i>&nbsp;@Resources.SyncAll</button>                        
                        </div>                     
                    </div>
                </div>
                @*<div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>*@
            </div>
            <div class="grid-body ">
                @if (TempData["Message"] != null)
                {
                    <div class="alert alert-success">
                        <button data-dismiss="alert" class="close"></button>
                        @TempData["Message"]
                    </div>
                }
                <table class="table table-hover table-condensed" id="datatable">
                    <thead>
                        <tr>
                            <th>@Resources.Name</th>
                            <th>@Resources.Location</th>
                            <th>@Resources.IP</th>
                            <th>@Resources.Time</th>
                            <th>@Resources.Status</th>
                            <th>@Resources.IsActive</th>
                            <th>
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", Resources.CreateNew, "Create", "Devices", routeValues: null, htmlAttributes: new { data_modal = "", @class = "btn btn-primary pull-right" })

                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-select2/select2.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/r-2.1.0/datatables.min.js"></script>
    <script src="~/Scripts/modal.js"></script>
   
     <script type="text/javascript">
        $(document).ready(function () {

            var options = {
                editUrl: '@Url.Action("Edit")',
                deleteUrl: '@Url.Action("Delete")',
                url: '@Url.Action("GetDevices")',
                id: '#datatable'
            };

            var columns =
            [
                        { data: 'Description' },
                        { data: 'Location' },
                        { data: 'IP' },
                        { data: 'SyncDate' },
                        { data: 'DeviceStatus' },
                        { data: 'IsActive' },
                        { data: 'DeviceId' }
            ];

            var datatable = $(options.id).DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print', 'excel', 'pdf', 'colvis'
                ],
                responsive: true,
                info: true,
                print: true,
                autoWidth: true,
                stateSave: true,
                ajax: {
                    url: options.url,
                    dataSrc: ''
                },
                columns: columns,
                columnDefs: [{
                    render: function (data, type, row) {

                        var pingUrl = '@Url.Action("Ping")' + '/' + data;
                        var transferUrl = '@Url.Action("TransferRecords")' + '/' + data;
                        var editUrl = '@Url.Action("Edit")' + '/' + data;
                        var deleteUrl = '@Url.Action("Delete")' + '/' + data;
                        var syncTimeUrl = '@Url.Action("SyncTime")' + '/' + data;
                        
                        var pingButton = "<a class='btn btn-primary' data-modal='' href='" + pingUrl + "' title='Ping'><span class='fa fa-check'></span></a>&nbsp;";
                        var transferButton = "<a class='btn btn-warning' data-modal='' href='" + transferUrl + "' title='Transfer'><span class='fa fa-exchange'></span></a>&nbsp;";
                        var syncTimeButton = "<a class='btn btn-success' data-modal='' href='" + syncTimeUrl + "' title='Sync'><span class='fa fa-clock-o'></span></a>&nbsp;";
                        var editButton = "<a class='btn btn-default' data-modal='' href='" + editUrl + "' title='Edit'><span class='glyphicon glyphicon-pencil'></span></a>&nbsp;";
                        var deleteButton = "<a class='btn btn-danger' data-modal='' href='" + deleteUrl + "' title='Delete'><span class='glyphicon glyphicon-trash'></span></a>";

                        var buttons = "<div class=''>" + pingButton + transferButton + syncTimeButton + editButton + deleteButton + "</div>";

                        return buttons;
                    },
                    targets: -1,
                    orderable: false,
                    searchable: false
                }]
            });

            $(options.id).on('draw.dt', function () {
                LoadModal(columns, options);
            });

        });
    </script>
}