@model IEnumerable<AttendanceRRHH.Models.Device>
@using AttendanceRRHH.Helpers
@using Resources

<div class="row-fluid">
    <div class="span12">
        <div class="grid simple ">
            <div class="grid-title">
                <div class="row">
                    <div class="col-md-3">
                        <h4>@Resources.Devices</h4>
                    </div>
                    <div class="col-md-9">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-cons" onclick="location.href='@Url.Action("SyncTimeAllDevices", "Devices")'"><i class="fa fa-clock-o"></i>&nbsp;@Resources.Sync</button>
                            <button type="button" class="btn btn-danger btn-cons" onclick="location.href='@Url.Action("ReadRecordsAllDevices", "Devices")'"><i class="fa fa-warning"></i>&nbsp;@Resources.Transfer</button>
                            <button type="button" class="btn btn-success btn-cons" onclick="location.href='@Url.Action("Refresh", "Devices")'"><i class="fa fa-check"></i>&nbsp;@Resources.PingTest</button>
                        </div>                     
                    </div>
                </div>
                @*<div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>*@
            </div>
            <div class="grid-body ">

                <table class="table table-hover table-condensed" id="datatable">
                    <thead>
                        <tr>
                            <th>@Resources.Name</th>
                            <th>@Resources.Location</th>
                            <th>@Resources.IP</th>
                            @*<th>@Resources.Time</th>*@
                            <th>@Resources.IsActive</th>
                            <th>
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", Resources.CreateNew, "Create", "Devices", routeValues: null, htmlAttributes: new { data_modal = "", @class = "btn btn-primary pull-right" })

                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/DataTables-1.10.11/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.11/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/modal.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var id = '#datatable';

            var controller = 'Devices';

            var columns =
            [
                        { data: 'Description' },
                        { data: 'Location' },
                        { data: 'IP' },
                        { data: 'IsActive' },
                        { data: 'DeviceId' }
            ];

            var url = '@Url.Action("GetDevices")';

            var datatable = CreateTable(id, columns, url, controller);

            $(id).on('draw.dt', function () {
                LoadModal(id, columns, url, controller);
            });

        });
    </script>
}