@using Resources
@using AttendanceRRHH.Helpers

@section Styles{
   <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/zf/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/r-2.1.0/datatables.min.css" />
   <link href="~/Content/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}

<div class="page-title">
    <i class="icon-custom-left"></i>
    <h3>@Resources.Employees</h3>
</div>

<div class="row-fluid">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index","Departments")" class="active">@Resources.Department</a> </li>
        <li><a href="@Url.Action("Index","JobPositions")" class="active">@Resources.JobPosition</a> </li>
        <li><a href="@Url.Action("Index","EmployeeAbsences")" class="active">@Resources.Absence</a> </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="grid simple ">
            <div class="grid-title">
                <h4>@Resources.Employees</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body">          
                <table class="table table-hover table-condensed" id="datatable">
                    <thead>
                        <tr>
                            <th>@Resources.Company</th>
                            <th>@Resources.Code</th>
                            @*<th>@Resources.NationalCardId</th>*@
                            <th>@Resources.Name</th>
                            <th>@Resources.PhoneNumber</th>
                            <th>@Resources.Department</th>
                            <th>@Resources.IsActive</th>
                            <th>@Resources.ExtraHour</th>
                            <th>@Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus'></span>", Resources.CreateNew, "Create", "Employees", routeValues: null, htmlAttributes: new { data_modal = "", @class = "btn btn-primary pull-right" })</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>          
        </div>
    </div>
</div>

@section scripts { 
    <script src="~/Scripts/moment.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/b-1.2.2/b-colvis-1.2.2/b-html5-1.2.2/b-print-1.2.2/cr-1.3.2/r-2.1.0/datatables.min.js" type="text/javascript"></script>
    <script src="~/Content/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>  
    <script src="~/Scripts/modal.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var id = '#datatable';

            var controller = 'Employees';

            var url = '@Url.Action("GetEmployees")';

            var columns =
            [
               { data: 'Company' },
               { data: 'EmployeeCode' },
               //{ data: 'NationalCardId' },
               { data: 'Name' },
               { data: 'PhoneNumber' },
               { data: 'Department' },
               { data: 'IsActive' },
               { data: 'IsExtraHourPay' },
               { data: 'EmployeeId' }
            ];

            var table = CreateTable(id, columns, url, controller);

            $(id).on('draw.dt', function () {
                LoadModal(id, columns, url, controller);
            });

        });
    </script>
}


