@model AttendanceRRHH.Models.ExtraHour
@using Resources

@section Styles {
}

@Html.Hidden("RedirectTo", Url.Action("Index", "ExtraHours"))

<div class="row-fluid">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index","TimeSheets")" class="active">@Resources.Records</a> </li>
        <li><a href="@Url.Action("Index","Shifts")" class="active">@Resources.Shifts</a> </li>
    </ul>
</div>

<div class="row-fluid">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title">
                <h4>@Resources.ExtraHour</h4>
                <div class="tools"> <a href="javascript:;" class="collapse"></a> <a href="#grid-config" data-toggle="modal" class="config"></a> <a href="javascript:;" class="reload"></a> <a href="javascript:;" class="remove"></a> </div>
            </div>
            <div class="grid-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "extrahourform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.ExtraHourId)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row column-seperation">
                        <div class="col-md-3">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <label>@Resources.Company</label>
                                        @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row form-row">
                                <div class="col-md-12">
                                    <div class="input-with-icon  right">
                                        <i class=""></i>
                                        <label>@Resources.Name</label>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = @Resources.Name } })
                                    </div>
                                </div>
                            </div>
                        </div>                      
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @Html.Action("GetExtraHourDetails", Model.ExtraHourId)
                        </div>
                    </div>

                    <div class="form-actions">
                        <div class="pull-right">
                            <button class="btn btn-white btn-cons" type="button" id="cancel">@Resources.Cancel</button>
                            <button class="btn btn-danger btn-cons" type="submit" id="submit"><i class="icon-ok"></i> @Resources.Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        function LoadModal() {
            $("a[data-modal]").on("click", function (e) {
                $('#myModalContent').load(this.href, function () {
                    $('#myModal').modal({
                        keyboard: true
                    }, 'show');
                });
                return false;
            });
        };

        $(document).ready(function () {

            LoadModal();

            $('#extrahourform').validate({
                errorElement: 'span',
                errorClass: 'error',
                focusInvalid: false,
                ignore: "",
                rules: {
                    Name: {
                        minlength: 2,
                        required: true
                    }
                },
                errorPlacement: function (error, element) { // render error placement for each input type
                    var icon = $(element).parent('.input-with-icon').children('i');
                    var parent = $(element).parent('.input-with-icon');
                    icon.removeClass('fa fa-check').addClass('fa fa-exclamation');
                    parent.removeClass('success-control').addClass('error-control');
                },
                highlight: function (element) { // hightlight error inputs
                    var parent = $(element).parent();
                    parent.removeClass('success-control').addClass('error-control');
                },
                success: function (label, element) {
                    var icon = $(element).parent('.input-with-icon').children('i');
                    var parent = $(element).parent('.input-with-icon');
                    icon.removeClass("fa fa-exclamation").addClass('fa fa-check');
                    parent.removeClass('error-control').addClass('success-control');
                },
                submitHandler: function (form) {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("EditExtraHourDetail")",
                        async: false,
                        data: $('#extrahourform').serialize(),
                        success: function (data) {

                            if (data.success == true) {
                                alert('Successfully done.');
                            } else {
                                alert(data.message);
                            }

                            //$('#shiftform').trigger("reset");
                            var url = $("#RedirectTo").val();
                            location.href = url;
                        },
                        error: function (message) {
                            alert(message);
                        }
                    });
                }
            });

            $('#cancel').click(function () {
                var url = $("#RedirectTo").val();
                location.href = url;
            });
        });
    </script>
}