@model AttendanceRRHH.Models.ExtraHourDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ExtraHourDetail</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ExtraHour.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ExtraHour.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StartHour)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StartHour)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.EndHour)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.EndHour)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Day)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Day)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ExtraHourDetailId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
