@using Resources

@section StylesOnTop{
    @*<link href="~/Content/assets/plugins/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="~/Content/assets/plugins/fullcalendar/fullcalendar.print.min.css" rel="stylesheet" type="text/css" media="print" />*@
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="~/Content/fullcalendar.print.css" rel="stylesheet" type="text/css" media="print" />
}

@section Styles{
    <link href="~/Content/css/select2.min.css" rel="stylesheet" />
}

<div id="eventContent" title="Event Details" style="display:none;">
    @Resources.StartDate: <span id="startTime"></span><br>
    @Resources.EndDate: <span id="endTime"></span><br><br>
    <p id="eventInfo"></p>
    <p id="shiftInfo"></p>
</div>

<div class="row" style="max-height:600px;">
    <div class="tiles row tiles-container red no-padding">

        @Html.Action("CalendarLeftPanel")

        <div class="col-md-9 tiles white no-padding">
            <div class="tiles-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    @*<script src="~/Content/assets/plugins/fullcalendar/fullcalendar.js"></script>*@
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('.select-drop').select2();

            $('.select-drop').on("select2:select", function (e) {
                //console.log('selected: ' + $('.select-drop').val());

                $('#calendar').fullCalendar('removeEvents');

                $.ajax({
                    url: '@Url.Action("Search")',
                    type: 'POST',
                    data: { employee: $('#EmployeeId').val() },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                       
                        if (data.data.length > 0) {

                            $.each(data.data, function (index, value) {

                                var obj = {
                                    id: value.id,
                                    title: value.title,
                                    start: new Date(moment(value.start).format()),
                                    end: new Date(moment(value.end).format()),
                                    url: value.url
                                };

                                $('#calendar').fullCalendar('renderEvent', obj, true);
                            });
                        } else {
                            alert('No records found');
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            });

            /* buttons clicks */
            $('#save').click(function () {
                var events = $('#calendar').fullCalendar('clientEvents');

                if (events.length > 0){
                   //recorro todos los eventos para crear un arreglo serializable
                    var eventList = [];
                    $.each(events, function (i, v) {
                        var event = {
                            ScheduleId: v.id,
                            ShiftId: v.url, // TODO: fix this bad aproach of even object (i just saved the shiftid on url standard field)
                            StartDate: moment(v.start).format("YYYY-MM-DD HH:mm"),
                            EndDate: moment(v.end).format("YYYY-MM-DD HH:mm"),
                            EmployeeId: $('#EmployeeId').val(),
                            InsertedAt: moment().format("YYYY-MM-DD HH:mm"),
                            UpdatedAt: moment().format("YYYY-MM-DD HH:mm")
                        }
                        eventList.push(event);
                    });

                    $.ajax({
                        url: '@Url.Action("Save")',
                        type: 'POST',
                        data: {
                            json: JSON.stringify(eventList)
                        },
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            if (data.success == true) {
                                alert('Successfully saved.');
                            } else {
                                alert('Something wrong on save event: ' + data.message);
                            }
                        },
                        error: function (xhr) {
                            alert(xhr);
                        }
                    });
                }
            });

            $('#clear').click(function () {
                $('#calendar').fullCalendar('removeEvents');
            });


            /* initialize the external events
            -----------------------------------------------------------------*/

            $('#external-events div.external-event').each(function () {

                // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
                // it doesn't need to have a start or end
                var eventObject = {
                    url: this.id,
                    title: $.trim($(this).text()) // use the element's text as the event title
                };

                // store the Event Object in the DOM element so we can get to it later
                $(this).data('eventObject', eventObject);

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });
            });

            /* initialize the calendar
            -----------------------------------------------------------------*/
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month'//,agendaWeek,agendaDay
                },
                editable: true,
                droppable: true,
                drop: function (date, allDay) {
                    // retrieve the dropped element's stored Event Object
                    var originalEventObject = $(this).data('eventObject');

                    // we need to copy it, so that multiple events don't have a reference to the same object
                    var copiedEventObject = $.extend({}, originalEventObject);

                    // assign it the date that was reported
                    copiedEventObject.start = date;
                    copiedEventObject.allDay = allDay;
                    // render the event on the calendar
                    // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
                    $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
                },
                eventRender: function (event, element) {
                    //element.append("<span class='closeon'>X</span>");
                    //element.find(".closeon").click(function () {
                    //    $('#calendar').fullCalendar('removeEvents', event._id);
                    //    //remover de la base de datos
                    //});
                    console.log(event);
                    element.attr('href', 'javascript:void(0);');
                    element.click(function () {
                        alert('le di click');
                        $("#startTime").html(moment(event.start).format('MMM Do h:mm A'));
                        $("#endTime").html(moment(event.end).format('MMM Do h:mm A'));
                        $("#eventInfo").html(event.title);
                        $("#eventLink").attr('href', event.url);
                        $("#eventContent").dialog({ modal: true, title: event.title, width: 350 });
                    });
                }
            });
        });
    </script>
}
